
            @media screen and (max-width: 1199px)   {

                #testata{
                    display: none;
                }

                #navbar{
                    background: #000922;
                    width: 100%;
                    height: auto;
                    color: #ffffff;
                }
                
                .selection{
                    text-align: center;
                    float: left;
                    color: #fff;
                    font-size: 10px;
                }
                
                .divsel:hover{
                    background: #053e77;
                    border-width: thin;
                    border-style: solid;
                    border-color: #000;
                    border-radius: 5px;
                }
                
                #toolbar{
                    text-align: center;
                    max-width: 1100px;
                    margin: auto;
                }
                
                #searchForm{
                    width: 176px;
                    height: 34px;
                    border-radius: 4px;
                    border-color: #0000;
                    border-style: solid;
                    border-width: thin;
                }

                #Area{
                    border: 1px solid rgb(51, 51, 51);
                    border-radius: 5px;
                    text-align: center;
                    background-color: white;
                    margin-top: 20px;
                    width: auto;
                    }

                .Plessi{
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                text-align: left;
                color: blue;
                border: 1px solid #8f8f8f;
                border-radius: 4px;
                background-color: #ececec;
                margin: 20px 5px;
                }

                .Indirizzi{
                border: 1px solid #8f8f8f;
                border-radius: 4px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 5px;
                }

                .IndirizziProfessionali{
                border: 1px solid #8f8f8f;
                border-radius: 4px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 5px;
                }

                .PON{
                border: 1px solid #8f8f8f;
                border-radius: 4px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 5px;
                }

                #ImmaginePON{
                width: 200px;
                }

                .Pon2014-2020{
                border: 1px solid #8f8f8f;
                border-radius: 4px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 5px;
                }

                #Pon2014-2020{
                    width: 200px;
                    text-align: left;
                }

                .CorsoDocentiSicurezza{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 5px;
                }
                
                #CorsoSicurezza{
                    text-align: left;
                    width: 100px;
                }

                .TourVirtuale{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 5px;
                }

                #TourVirtuale{
                text-align: left;
                width: 100px;
                }

                .LaScuolaOnline{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 5px;
                }

                #RegistroElettronico{
                text-align: center;
                width: 100px;
                }

                #Albo{
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 100px;
                }

                #AmministrazioneTrasparente{
                text-align: center;
                margin-top: 10px;
                width: 100px;
                }

                #Comunicati{
                text-align: center;
                margin-top: 10px;
                width: 100px;
                }

                #ScuolaETerritorio{
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 100px;
                }

                .Moodle{
                border: 1px solid #8f8f8f;
                border-radius: 4px;
                text-align: left;
                background-color: #ececec;
                margin: 20px 5px;
                }

                #Moodle{
                text-align: left;
                width: 200px;
                }

                .Bionet{
                border: 1px solid #8f8f8f;
                border-radius: 4px;
                text-align: left;
                background-color: #ececec;
                margin: 20px 5px;
                }

                #Bionet{
                text-align: left;
                width: 200px;
                }

                #LinkFinali{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    border: 1px solid rgb(51, 51, 51);
                    border-radius: 5px;
                    background-color: white;
                    font-size: 14px;
                }

            }
            @media (min-width: 1200px){

                #Intestazione{
                    background-color: #000922;
                }

                #testata{
                    width: auto;
                    border-radius: 5px;
                    text-align: center;
                    padding: 4px;
                    background-color: white;
                }
    
                #Titolo2{
                    font-size: 20px;
                    letter-spacing: 2px;
                    line-height: 20px;
                    font-weight: 500; 
                    color: #808080;
                }
    
                #titolo{
                    text-align: center;
                    font-size: 28px;
                    letter-spacing: 1px;
                    line-height: 28px;
                    color: black;
                }
    
                #sottotilo{
                    font-size: 13px;
                    color: #808080;
                    font: normal 12px/18px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                }

                #Repubblica{
                    margin-left: 70px;
                    width: 300px;
                }
    
                #CertiQuality{
                    width: 150px;
                }
                
                #navbar{
                    background: #000922;
                    width: 100%;
                    height: auto;
                }
                
                .selection{
                    text-align: center;
                    float: left;
                    color: #fff;
                    font-size: 10px;
                }
                
                .divsel:hover{
                    background: #053e77;
                    border-width: thin;
                    border-style: solid;
                    border-color: #000;
                    border-radius: 5px;
                }
                
                #toolbar{
                    text-align: center;
                    padding: 5px;
                    max-width: 1100px;
                    margin: auto;
                }
                
                #searchForm{
                    width: 176px;
                    height: 34px;
                    border-radius: 4px;
                    border-color: #0000;
                    border-style: solid;
                    border-width: thin;
                }

                .Plessi{
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                text-align: left;
                color: blue;
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                background-color: #ececec;
                margin: 10px 50px;
                }

                .Indirizzi{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 50px;
                }

                .IndirizziProfessionali{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 50px;
                }

                .PON{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 50px;
                }

                #ImmaginePON{
                width: 150px;
                }

                .Pon2014-2020{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 50px;
                }

                #Pon2014-2020{
                    width: 150px;
                }

                .CorsoDocentiSicurezza{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                color: blue;
                text-align: center;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 50px;
                }

                #CorsoSicurezza{
                    width: 140px;
                }

                .TourVirtuale{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 50px;
                }

                #TourVirtuale{
                text-align: center;
                width: 150px;
                }

                .LaScuolaOnline{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 20px 50px;
                }

                #RegistroElettronico{
                text-align: center;
                width: 150px;
                }

                #Albo{
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 150px;
                }

                #AmministrazioneTrasparente{
                text-align: center;
                margin-top: 10px;
                width: 150px;
                }

                #Comunicati{
                text-align: center;
                margin-top: 10px;
                width: 150px;
                }

                #ScuolaETerritorio{
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 150px;
                }

                .Moodle{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                text-align: center;
                background-color: #ececec;
                margin: 20px 50px;
                }

                #Moodle{
                text-align: center;
                width: 150px;
                }

                .Bionet{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                text-align: center;
                background-color: #ececec;
                margin: 20px 50px;
                }

                #Bionet{
                text-align: center;
                width: 150px;
                }

                #LinkFinali{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    border: 1px solid rgb(51, 51, 51);
                    border-radius: 5px;
                    padding: 4px;
                    background-color: white;
                }
            }

            #Repubblica{
                margin-left: 70px;
            }

            #Area{
                width: auto;
                height: auto;
                border: 1px solid rgb(51, 51, 51);
                border-radius: 5px;
                text-align: center;
                background-color: white;
            }

            .RisorseDAD{
                border: 1px solid #8f8f8f;
                border-radius: 1px;
                color: blue;
                text-align: left;
                background-color: #ececec;
                font: normal 18px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 10px 5px;
                width: auto; 
            }

            .Home{
                border: 1px solid #ffffff;
                border-radius: 1px;
                text-align: left;
                background-color: #ffffff;
                font-family: 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                margin: 10px 5px;
                width: auto; 
            }

            table{
                border-collapse:collapse;
                margin-bottom: 10px;
            }

            tr, td{
                border:1px solid black;
                color: black;
                font: normal 14px 'Lucida Grande', ' Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
                text-align: center;
            }

            .Privacy{
                text-align: center;
            }

            .Piedipagina{
                margin-top: 20px;
                text-align: center;
                font-weight: 100px;
                color: gray;
            }